// Dark theme styles for DEX Garden Wizard
:host {
  display: block;
  background-color: #0d1117;
  color: #c9d1d9;
  min-height: 100vh;
}

.container-fluid {
  background-color: #0d1117;
  color: #c9d1d9;
}

.card {
  background-color: #161b22;
  border-color: #30363d;
  color: #c9d1d9;
}

.card-header {
  background-color: #21262d !important;
  border-color: #30363d;
  color: #c9d1d9 !important;
}

.form-control, .form-select {
  background-color: #0d1117;
  border-color: #30363d;
  color: #c9d1d9;
  
  &:focus {
    background-color: #0d1117;
    border-color: #58a6ff;
    color: #c9d1d9;
  }
  
  &::placeholder {
    color: #6e7681;
  }
}

.form-label {
  color: #c9d1d9;
}

.text-muted {
  color: #8b949e !important;
}

.alert {
  background-color: #161b22;
  border-color: #30363d;
  color: #c9d1d9;
  
  &.alert-info {
    background-color: #1c2128;
    border-color: #58a6ff;
    color: #79c0ff;
  }
  
  &.alert-warning {
    background-color: #1c2128;
    border-color: #d29922;
    color: #e3b341;
  }
  
  &.alert-danger {
    background-color: #1c2128;
    border-color: #da3633;
    color: #ff7b72;
  }
  
  &.alert-success {
    background-color: #1c2128;
    border-color: #238636;
    color: #56d364;
  }
}

.btn-primary {
  background-color: #238636;
  border-color: #238636;
  color: #ffffff;
  
  &:hover {
    background-color: #2ea043;
    border-color: #2ea043;
  }
  
  &:disabled {
    background-color: #21262d;
    border-color: #30363d;
    color: #6e7681;
    opacity: 0.6;
  }
}

.badge {
  &.bg-success {
    background-color: #238636 !important;
    color: #ffffff;
  }
  
  &.bg-primary {
    background-color: #1f6feb !important;
    color: #ffffff;
  }
}

code {
  background-color: #161b22;
  color: #c9d1d9;
  border: 1px solid #30363d;
  padding: 2px 6px;
  border-radius: 3px;
}

.input-group-text {
  background-color: #161b22;
  border-color: #30363d;
  color: #c9d1d9;
}
